<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>fr</string>

    <key>CFBundleExecutable</key>
    <string>sentinel-agent</string>

    <key>CFBundleIconFile</key>
    <string>AppIcon</string>

    <key>CFBundleIdentifier</key>
    <string>com.cyber-threat-consulting.sentinel-agent</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>Sentinel Agent</string>

    <key>CFBundleDisplayName</key>
    <string>Sentinel Agent</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>2.0.0</string>

    <key>CFBundleVersion</key>
    <string>2</string>

    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>

    <key>LSUIElement</key>
    <true/>

    <key>NSHighResolutionCapable</key>
    <true/>

    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2024-2026 Cyber Threat Consulting. Tous droits réservés.</string>

    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
    </dict>

    <key>SUFeedURL</key>
    <string>https://app.cyber-threat-consulting.com/updates/macos/appcast.xml</string>

    <key>SUPublicDSAKeyFile</key>
    <string>dsa_pub.pem</string>
</dict>
</plist>
